.page_mainContainer {
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.form_mainContainer {
  background-color: #fff;
  width: 27%;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 35px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.FormTitle {
  border-bottom: 2px solid rgba(216, 216, 216, 0.586);
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form_filedContainer {
  /* border: 1px solid gray; */
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.filedBox {
  margin: 10px 0px;
}

.form_lable {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.from_input {
  display: block;
  width: 100%;
  color: #262626;
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  height: 36px;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 19px;
  outline: none;
}

/* Buttoon */

.btn {
  border: none;
  border-radius: 2px;
  fill: currentColor;
  font-weight: 500;
  margin-top: 1rem;
  padding: 7px 10px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-transform: uppercase;
}

/* error */
.error {
  color: red;
  font-size: 12px;
}
